.user-page {
    padding: 20px;
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-user-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  label {
    font-weight: bold;
    margin-right: 10px; /* Add margin-right for spacing between label and input */
    width: 120px; /* Adjust width to suit your needs */
  }
  
  input {
    padding: 5px;
    flex: 1; /* Allow the input to take up remaining space */
  }

  #add-user-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #add-user-btn:hover {
    background-color: #0056b3;
  }
  #home-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    width: 100%;
    
  }
  
  #home-btn:hover {
    background-color: #0056b3;
  }